---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - security.shieldx-bot.io
  resources:
  - clusterimagepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.shieldx-bot.io
  resources:
  - clusterimagepolicies/finalizers
  verbs:
  - update
- apiGroups:
  - security.shieldx-bot.io
  resources:
  - clusterimagepolicies/status
  verbs:
  - get
  - patch
  - update
